// Evergreen
$orange: rgb(250,70,22);
$black: rgb(51,51,51);
$grey: rgb(245,245,245);
$white: rgb(255,255,255);

// Seasonal
$Sky: rgb(187,199,215);
$Camel: rgb(217,192,169);
$Maroon: rgb(138,42,43);
$Navy: rgb(0,40,85);
$Off_White: rgb(247,247,247);
