// @import '../black-box';
@import 'required-bootstrap-styles';
@import 'variables';
@import 'colours';
@import 'fall-fonts';
@import 'kids-fonts';
@import 'mixins';

@include tm('typography') {
  font-family: 'JFCalibre', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  width: 100%;


  p, h1 {
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }

  @include tm('copy') {
    float: left;
    width: 100%;
    &.hero-classic {
      @include text-container-widths($classic-textbox-width-mobile, $classic-textbox-width-tablet, $classic-textbox-width-desktop)
    }

    &.hero-header-only {
      @include text-container-widths($header-textbox-width-mobile, $header-textbox-width-tablet, $header-textbox-width-desktop)
    }
    // margin: 0 0 2rem 0;
    @include tm('text-block') {
      &.hero-classic {

        // @@include ;
        @include tm('header') {
          margin: 0;
          // font-size: 45px;
        }
      }
    }
    h1, p {
      margin: 0;
    }
  }

  .hero-classic {
    @include tm('text-block') {
      @include tm('eyebrow-text') {
        margin: 0;
      }
      @include tm('eyebrow') {
        margin-bottom: 20px;
      }
      @include tm('header') {
        // @include px(40);
        font-size: 45px;
        margin-bottom: 14px;
      }
      @include tm('subheader') {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 26px;
      }
      @include tm('subcopy') {
        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 31px;
      }
      @include tablet-up() {
        @include tm('eyebrow-text') {
          font-size: 20px;
          margin: 0;
        }
        @include tm('eyebrow') {
          margin-bottom: 19.8px;
        }
        @include tm('header') {
          font-size: 50px;
          line-height: 1;
          margin-bottom: (12px) / 2;
          &:first-child {
            font-size: 60px;
            line-height: 1;
            margin-bottom: (26px) / 2 ;
          }
          // margin: #{$tablet} 0 #{$tablet} 0;
        }
        @include tm('subheader') {
          font-size: 26px;
          line-height: 1.15;
          margin-bottom: (28px) / 2;
          // margin: #{$tablet} 0 #{$tablet} 0;
        }
        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.17;
          &:first-child {
            font-size: 18px;
            line-height: 1.17;
            margin-bottom: (36px) / 2 ;
          }
          // margin: #{$tablet} 0 #{$tablet + $tablet} 0;
        }
      }

      @include desktop-up() {
        @include tm('eyebrow-text') {
          font-size: 20px;
          margin: 0;
        }
        @include tm('eyebrow') {
          margin-bottom: 35px;
        }
        @include tm('header') {
          font-size: 60px;
          margin-bottom: (5px) / 2;
          &:first-child {
            font-size: 80px;
            margin-bottom: 11px;
          }
        }
        @include tm('subheader') {
          font-size: 32px;
          line-height: 1.12;
          margin-bottom: (32px) / 2;
        }
        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.17;
          margin-bottom: 41px;

          // font-size: (22pt/2);
          // margin: #{$desktop} 0 #{$desktop + $desktop} 0;
        }
      }
    }
  }

  .hero-long-copy {
    @include tm('text-block') {
      @include tm('eyebrow-text') {
        margin: 0;
      }
      @include tm('eyebrow') {
        margin-bottom: 20px;
      }
      @include tm('header') {
        // @include px(40);
        font-size: 40px;
        margin-bottom: 1px;
      }
      @include tm('subheader') {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 26px;
      }
      @include tm('subcopy') {
        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 31px;
      }
      @include tablet-up() {
        width: 420px;
        @include tm('eyebrow-text') {
          font-size: 20px;
          margin: 0;
        }
        @include tm('eyebrow') {
          margin-bottom: 19.8px;
        }
        @include tm('header') {
          font-size: 55px;
          line-height: 1;
          margin-bottom: (12px) / 2;
          // margin: #{$tablet} 0 #{$tablet} 0;
        }
        @include tm('subheader') {
          font-size: 26px;
          line-height: 1.15;
          margin-bottom: (28px) / 2;
          // margin: #{$tablet} 0 #{$tablet} 0;
        }
        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.17;
          &:first-child {
            font-size: 18px;
            line-height: 1.17;
            margin-bottom: (36px) / 2 ;
          }
          // margin: #{$tablet} 0 #{$tablet + $tablet} 0;
        }
      }

      @include desktop-up() {
        @include tm('eyebrow-text') {
          font-size: 20px;
          margin: 0;
        }
        @include tm('eyebrow') {
          margin-bottom: 35px;
        }
        @include tm('header') {
          font-size: 65px;
          margin-bottom: (5px) / 2;
        }
        @include tm('subheader') {
          font-size: 32px;
          line-height: 1.12;
          margin-bottom: (32px) / 2;
        }
        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.17;
          margin-bottom: 41px;

          // font-size: (22pt/2);
          // margin: #{$desktop} 0 #{$desktop + $desktop} 0;
        }
      }
    }
  }

  .announcement-text {
    max-width: 175px;
    max-height: 99px;
    // margin: 0 0 20px 0;

    @include tm('header') {
        font-size: 18px;
        line-height: 1.17;
        margin-bottom: (21px)/2;
    }
    @include tm('subcopy') {
        font-size: 18px;
        line-height: 1.22;
    }
    @include tablet-up() {
      max-width:200px;
      max-height: 92px;
      @include tm('header') {
          font-size: 20px;
          line-height: 1.15;
          margin-bottom: (21px)/2;
      }
      @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.22;
      }
    }
    @include desktop-up() {
      max-width:320px;
      max-height: 81px;
      @include tm('header') {
          font-size: 24px;
          line-height: 1.15;
          margin-bottom: (20px)/2;
      }
      @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.22;
      }
    }
  }

  .feature-text {
    width: 271px;
    @include tablet-up() {
      width: 340px;
    };
    @include tm('eyebrow-text') {
      font-size: 20px;
      line-height: 1;

    }
    @include tm('eyebrow') {
      margin: 9px 0 30px 0;
    };
    @include tm('header') {
      padding-bottom: (24px) / 2;
      margin: 0;
      line-height: 1;
      font-size: 36px;
    }
    @include tm('subcopy') {
      padding-bottom: (35px / 2);
      line-height: 1.19;
      font-size: 16px;
    }
    @include tablet-up() {
      @include tm('eyebrow-text') {
        // font-size: 20px;
      }
      @include tm('header') {
        padding-bottom: (30px / 2);
        font-size: 40px;
        line-height: 1.02;
      }
      @include tm('subcopy') {
        padding-bottom: (33px);
        font-size: 18px;
        line-height: 1.17;
      }
    }
    @include desktop-up() {
      @include tm('eyebrow-text') {
        font-size: 20px;
      }
      @include tm('header') {
        font-size: 50px;
      }
      @include tm('subcopy') {
        font-size: 18px;
        line-height: 1.17;
      }
    }
  }

  .promo-text {
    @include tm('header') {
        font-size: 22px;
        line-height: 1.14;
        margin-bottom: 11px;
    }
    @include tm('subcopy') {
        font-size: 16px;
        line-height: 1.19;
        margin-bottom: 17px;
    }
    @include tablet-up() {
      @include tm('header') {
          font-size: 26px;
          line-height: 1.12;
          margin-bottom: (14px)/2;
      }
      @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.17;
          margin-bottom: (21px)/2;
      }
    }
  }

  @include tm('cta-button') {
    text-decoration: none;
  }

  // Hero Preset D // Header Only
  @include tm('text-block') {
    h1 {
      &:first-child:last-child {
        font-size: 50px; //(60pt / 1.5);
        line-height: 1;
      }

      @include tablet-up() {
        &:first-child:last-child {
          font-size: 70px; //(120pt / 2.5);
        }
      }

      @include desktop-up() {
        &:first-child:last-child {
          font-size: 80px; //(110pt / 2);
        }
      }

    }
  }

  @include tm('hero-preset-e') {
    text-align: center;
    width: 100%;
    float: left;
    @include tablet-up() {
      margin-left: 25px;
    }
    @include tm('copy') {
      @include tm('header') {
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 13px;
        // @include tablet-up() {
        //   font-size: ;
        // }
        @include desktop-up() {
          font-size: 36px;
          line-height: 1;
        }
      }
      @include tm('subcopy') {
        font-size: 16px;
        margin-bottom: 25px;
        padding:0;
        line-height: 1.11;
        text-align: center;
        @include tablet-up() {
          font-size: 18px;
          margin-bottom: 31px;
          line-height: 1.22;
        }
        @include desktop-up() {

        }
      }
    }

    @include tm('cta') {
      padding: 0;
      margin: 0 0 16px 0;
      width: 100%;
    }
    // @include tm('cta') {
    //   &-button {
    //     font-size: 20px;
    //     line-height: 1;
    //   }
    // }
    @include tablet-up() {
      text-align: center;
      width: 1/2 * 100%;
    }
    @include desktop-up() {
      text-align: center;
      width: 1/3 * 100%;
    }

    @include tm('pc-plus-img') {
      padding: 0 0 29.3px 0;
      width: 80%;
      max-width: 250px;
      @include tablet-up() {
        padding: 0 0 34px 0;
        max-width:325px;
      }
      @include desktop-up() {
        padding: 0 0 40.6px 0;
        max-width:400px;
      }

    }


  }


  @include tm('3-column') {
    margin-bottom: 21px;
    @include tm('eyebrow') {
      margin-bottom: 30px;
    }
    @include mobile-only() {
      max-width: 271px;
    }
  }

  @include tm('hero-preset-c') {
    float: left;
    width: 100%;

    &.fr {

      @include tm('subheader') {
        font-size: 16px;
        margin:0;
      }

      @include tm('header') {
        font-size: 26px;
        margin:0;
      }

      @include tm('subcopy') {
        font-size: 16px;
        line-height: 1.25;
        margin:0;
      }

      @include tablet-up() {
        @include tm('subheader') {
          font-size: 18px;
        }

        @include tm('header') {
          font-size: 36px;
        }

        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.22;
        }
      }
      @include desktop-up() {
        @include tm('subheader') {
          font-size: 24px;
        }

        @include tm('header') {
          font-size: 48px;
        }

        @include tm('subcopy') {
          font-size: 18px;
          line-height: 1.22;
        }
      }
    }
    @include tm('subheader') {
      font-size: 16px;
      line-height: 1;
      margin:0;
    }

    @include tm('header') {
      font-size: 32px;
      line-height: 1;
      margin:0;
    }

    @include tm('subcopy') {
      font-size: 16px;
      line-height: 1.38;
      margin:0;
    }

    @include tablet-up() {
      @include tm('subheader') {
        font-size: 24px;
        line-height: 1;
      }

      @include tm('header') {
        font-size: 48px;
        line-height: 1;
      }

      @include tm('subcopy') {
        font-size: 18px;
        line-height: 1.22;
      }
    }
    @include desktop-up() {
      @include tm('subheader') {
        font-size: 2em;
      }

      @include tm('header') {
        font-size: 4em;
      }

      @include tm('subcopy') {

      }
    }

    &.en {
      @include tm('text-block') {

        float:left;
        width: 100%;
        margin-bottom: 20px;


        @include tablet-up() {
          @include mock-flexbox($number-of-columns: 3, $class-name: 'tumeric__text-block');
        }

      }
    }

    &.fr {
      @include tm('text-block') {
        margin-bottom:15px;
        float: left;
        width: 100%;
      }

      @include tablet-up() {
        @include tm('text-block') {
          float: left;
          &:first-child {
            width: 100%;
          }
          &:nth-child(2), &:nth-child(3) {
            width: (1/2) * 100%;
          }
        }
      }

      @include desktop-up() {
        @include tm('text-block') {
          float: left;
          &:first-child, &:nth-child(2), &:nth-child(3) {
            width: (1/3) * 100%;
          }

        }
      }

    }

  }

  @include mobile-only() {
    @include tm('subcopy') {
      // padding: 0rem 3rem 0 0;
    }
  };




  @include tm('eyebrow') {
    display: inline-block;
    background-color: $black;
    height: 4px;
    width: 20px;
  }

  @include tm('eyebrow-text') {
    font-size: (22pt / 1.75);
    margin: 0;
    font-weight: 400;
  }

  @include tm('subheader') {
    margin-top:0;
  }
  @include tm('header') {
    margin-bottom:0;
  }

  &.colour {
    // Evergreen Colour Themes
    &-black {
      color: $black;
      @include cta-evergreen("black");
      @include tm("eyebrow") {
        background: $black;
      }
      @include tm('header') {
        color: $black;
      };
      @include tm('subcopy') {
        color: $black;
      };
    }

    &-orange {
      color: $orange;
      @include cta-evergreen("orange");
      @include tm("eyebrow") {
        background: $orange;
      }

      &-black {
        @include cta-evergreen("black");
        @include tm('header') {
          color: $orange;
          @include tm("eyebrow") {
            background: $black;
          }
        }
        @include tm('subcopy') {
          color: $black;
        }
      }

      &-white {
        @include cta-evergreen("none");
        @include tm('header') {
          color: $orange;
          @include tm("eyebrow") {
            background: $white;
          }
        }
        @include tm('subcopy') {
          color: $white;
        }
      }

      &-navy {
        color: $orange;
        @include cta-seasonal("navy");
        @include tm('header') {
          color: $orange;
        };
        @include tm("subcopy") {
          color: $navy;
        }
        @include tm("eyebrow") {
          background: $orange;
        }
      }
    }

    &-white {
      color: $white;
      @include cta-evergreen("white");
      @include tm("eyebrow") {
        background: $white;
      }
      @include tm('header') {
        color: $white;
      };
      @include tm('subcopy') {
        color: $white;
      };

      &-navy {
        color: $white;
        @include tm('header') {
          color: $white;
        };
        @include cta-seasonal("navy");
        @include tm("subcopy") {
          color: $navy;
        }
        @include tm("eyebrow") {
          background: $white;
        }
      }

      &-camel {
        color: $white;
        @include tm('header') {
          color: $white;
        };
        @include cta-seasonal("camel");
        @include tm("subcopy") {
          color: $camel;
        }
        @include tm("eyebrow") {
          background: $white;
        }
      }

      &-orange {
        color: $white;
        @include tm('header') {
          color: $white;
        };
        @include cta-evergreen("orange");
        @include tm("eyebrow") {
          background: $white;
        }
      }
    }

    &-navy {
      color: $navy;
      @include tm('header') {
        color: $navy;
      };
      @include cta-seasonal("navy");
      @include tm("eyebrow") {
        background: $navy;
      }

      &-white {
        color: $navy;
        @include tm('header') {
          color: $navy;
        };
        @include cta-evergreen("white");
        @include tm("eyebrow") {
          background: $navy;
        }
      }

      &-orange {
        color: $navy;
        @include tm('header') {
          color: $navy;
        };
        @include cta-evergreen("orange");
        @include tm("eyebrow") {
          background: $navy;
        }
      }
    }

    &-maroon {
      color: $maroon;
      @include tm('header') {
        color: $maroon;
      };
      @include cta-seasonal("maroon");
      @include tm("eyebrow") {
        background: $navy;
      }
    }

    &-camel {
      color: $camel;
      @include tm('header') {
        color: $camel;
      };
      @include cta-seasonal("camel");
      @include tm("eyebrow") {
        background: $camel;
      }

      &-white {
        color: $camel;
        @include tm('header') {
          color: $camel;
        };
        @include cta-evergreen("white");
        @include tm("subcopy") {
          color: $white;
        }
        @include tm("eyebrow") {
          background: $camel;
        }
      }
    }


    // Stroke or Fill?
    &-fill {

    }

    &-stroke {

    }

  }


  &.classic {
    @include tm('header') {
      font-weight: 700;
    }
    @include tm('subheader') {
      font-weight: 700;
    }
  }

  &.semibold {
    @include tm('header') {
      font-weight: 600;
    }
    @include tm('subheader') {
      font-weight: 600;
    }
  }

  &.light {
    @include tm('header') {
      font-weight: 300;
    }
    @include tm('subheader') {
      font-weight: 300;
    }
  }

  &.thin {
    @include tm('header') {
      font-weight: 200;
    }
    @include tm('subheader') {
      font-weight: 200;
    }
  }

  // Fall Font

  &.fall {
    @include tm('header') {
      font-family: Newton, serif;
      font-weight: 400;
    }

    &.bold {
      @include tm('header') {
        font-weight: 500;
      }
    }

    &.extrabold {
      @include tm('header') {
        font-weight: 600;
      }
    }

  }

  &.kids {
    &.sketch {
      @include tm('header') {
        font-family: KGSecondChancesSketch, serif;
        font-weight: normal;
      }
    }

    &.solid {
      @include tm('header') {
        font-family: KGSecondChancesSolid, serif;
        font-weight: normal;
      }
    }
  }

  &.classic,
  &.semibold,
  &.light,
  &.thin,
  &.fall,
  &.kids {
    @include tm('header') {
      &:first-letter {
        text-transform: capitalize;
      }
    }

    &.uppercase {
      @include tm('header') {
        text-transform: uppercase;
      }
    }
    &.titlecase {
      @include tm('header') {
        text-transform: capitalize;
      }
    }
    &.lowercase {
      @include tm('header') {
        text-transform: lowercase;
        &:first-letter {
          text-transform: lowercase;
        }
      }
    }

  }

  &.classic,
  &.semibold {
    @include tm('subcopy') {
      font-weight: 400;
    }
  }

  &.light,
  &.thin {
    @include tm('subcopy') {
      font-weight: 300;
    }
  }



  &__header {


  }

  &__subcopy {

  }

  @include tm('cta') {
    width: 100%;
    float:left;
    margin-top: 15px;
    @include tablet-up() {
      // font-size: 9.5pt;
      margin-top: 15px;
    }
    @include desktop-up() {
      // font-size: 9.5pt;
      margin-top: 15px;
    }

    &-button {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 45px 10px 45px;
      @include tablet-up() {
        // font-size: 9.5pt;
        padding: 15px 30px 10px 30px;
      }
      @include desktop-up() {
        // font-size: 9.5pt;
        padding: 15px 30px 10px 30px;
      }
      &.hero-padding, &.feature-padding {
        padding: 18px 45px 13px 45px;
        @include tablet-up() {
          font-size: 9.5pt;
          padding: 18px 30px 13px 30px;
        }
        @include desktop-up() {
          font-size: 9.5pt;
          padding: 17px 40px 12px 40px;
        }
      }

      &.announcement-padding, &.promo-padding {
        padding: 13px 35px 8px 35px;
        @include tablet-up() {
          font-size: 14px;
          padding: 13px 30px 8px 30px;
        }
        // @include desktop-up() {
        //   font-size: 9.5pt;
        //
        // }
      }



      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
    &-app-store-button {
      width: 11rem;
    }
  }

  &.stroke {
    @include tm('cta-button') {
      border-style: solid;
      border-width: 1px;
    }
  }

}


@include tm('hero') {
  float: left;
  width: 100%;

  &-container {
    overflow: hidden;
    background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include aspect-ratio('hero',320,420);
    // width: 320px;
    // height: 420px;

    // @include tall-mobile-only() {
    //   width: 320px;
    //   height: 420px;
    // }

    @include tablet-up() {
      @include aspect-ratio('hero',768,420);
      // width: 768px;
      // height: 420px;
    }

    @include desktop-up() {
      @include aspect-ratio('hero',1280,465);
      // width: 1280px;
      // height: 465px;
    }

  }

}

@include tm('promotion') {
  float: left;
  width: 100%;

  &-container {
    float: left;
    width: 100%;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tm('promotion-box') {
        @include aspect-ratio('promotion',320,250);
      }
      @include tablet-up() {
        &:nth-child(1) {
          width: 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',745,220);
          }

        }
        &:nth-child(2),
        &:nth-child(3) {
          width: (1/2) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',360,255);
          }
        }
      }

      @include desktop-up() {
        &:nth-child(1) {
          // padding: 1rem 0.5rem 1rem 1rem;
          width: (1/3) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
        &:nth-child(2) {

          width: (1/3) * 100%;

          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
        &:nth-child(3) {
          // padding: 1rem 1rem 1rem 0.5rem;
          width: (1/3) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
      }


      padding:1rem;
    }


    @include tm('promotion-box') {
      background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


  }

}

@include tm('announcement') {
  float: left;
  width: 100%;

  &-header {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
    color: #6b6b6a;
  }

  &-container {
    float: left;
    width: 100%;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tablet-up() {
        width: 50%;
      }
      padding: 1rem;
    }


    @include tm('announcement-box') {
      background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      @include aspect-ratio('announcement',320,250);

      @include tablet-up() {

        // width: 768px;
        // height: 420px;
        float: left;

        &:nth-child(1) {
          @include aspect-ratio('announcement',360,215);
        }
        &:nth-child(2) {
          @include aspect-ratio('announcement',360,215);
        }
      }

      @include desktop-up() {
        float: left;
        &:nth-child(1) {
          @include aspect-ratio('announcement',510,240);
        }
        &:nth-child(2) {
          @include aspect-ratio('announcement',510,240);
        }
        // width: 1280px;
        // height: 465px;
      }
    }


  }

}

@include tm('announcement-fullwidth') {
  float: left;
  width: 100%;

  &-container {
    float: left;
    width: 100%;

    @include tm('announcement-img') {
      overflow: hidden;
      padding: 0;

      .image-content {
        display: block;
        height: auto;
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}

@include tm('announcement-b') {
  float: left;
  width: 100%;

  &-container {
    padding: 2rem 0;
    float: left;
    width: 100%;
    background-color: #f9f9fa;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tablet-up() {
        width: 50%;
      }
      padding: 1rem;
    }

    @include tm('announcement-img') {
      // float: left;
      overflow: hidden;
      // width: 45%;
      // margin-top: -20rem;
      .image-content {
        display: block;
        height: 165px;
        width: auto;
        margin: 5rem 0 5rem -17rem;
        @include tablet-up() {
          height: 180px;
          margin: 5rem 0;
        }
        @include desktop-up() {
          height: 220px;
          margin: 5rem 0 5rem 2rem;
        }
      }

    }


    @include tm('announcement-b-box') {
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;

      @include tm('alignment') {
        &.left {
          padding: 0;

          @include tm('typography') {
            width: 90%;
          }
        }
      }

      // @include aspect-ratio('announcement-b',320,250);

      @include tablet-up() {

        // width: 768px;
        // height: 420px;
        // float: left;

        // @include aspect-ratio('announcement-b',360,215);

      }

      @include desktop-up() {
          // @include aspect-ratio('announcement-b',510,240);
      }

      @include tm('announcement-b-aside') {

        // float:left;

      }

    }


  }

}

@include tm('feature') {
  float: left;
  width: 100%;

  &-container {
    // background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include aspect-ratio('feature',320,580);
    // width: 320px;
    // height: 420px;

    // @include tall-mobile-only() {
    //   width: 320px;
    //   height: 420px;
    // }

    @include tablet-up() {
      @include aspect-ratio('feature', 735,795);
      // width: 768px;
      // height: 420px;
    }

    @include desktop-up() {
      @include aspect-ratio('feature',1050,670);
      // width: 1280px;
      // height: 465px;
    }

  }

}

@include tm('offer-details') {
  font-family: 'JFCalibre',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  float: right;
  position: relative;
  right: 8px;
  bottom: 23px;
  margin-bottom: -2em;

  &.colour,
  .colour {
    // Evergreen Colour Themes
    &-black {
      text-decoration: underline;
      color: $black;

      &-orange {
        text-decoration: underline;
        color: $orange;
      }

    }

    &-orange {
      text-decoration: underline;
      color: $orange;
      &-black {
        text-decoration: underline;
        color: $black;
      }

      &-white {
        text-decoration: underline;
        color: $white;
      }

      &-navy {
        text-decoration: underline;
        color: $navy;
      }
    }

    &-white {
      text-decoration: underline;
      color: $white;

      &-orange {
        text-decoration: underline;
        color: $orange;
      }

      &-navy {
        text-decoration: underline;
        color: $navy;
      }

      &-camel {
        text-decoration: underline;
        color: $camel;
      }

    }

    &-navy {
      text-decoration: underline;
      color: $navy;


      &-white {
        text-decoration: underline;
        color: $white;
      }

      &-orange {
        text-decoration: underline;
        color: $orange;
      }
    }

    &-maroon {
      text-decoration: underline;
      color: $maroon;
    }

    &-camel {
      text-decoration: underline;
      color: $camel;
      &-white {
        text-decoration: underline;
        color: $white;
      }
    }

  }

}


@include tm('alignment') {
  width:100%;

  @include tm('typography') {
    width: 100%;
    float: left;

  }

  &.left {
    float: left;
    position: absolute;
    &.hero-padding {
      @include pad-hero('padding-left', $hero-pad-mobile, $hero-pad-tablet, $hero-pad-desktop);
    }
    &.announcement-padding {
      @include pad-hero('padding-left', $announcement-pad-mobile, $announcement-pad-tablet , $announcement-pad-desktop);
    }
    &.feature-padding {
      @include pad-hero('padding-left', $feature-pad-mobile, $feature-pad-tablet , $feature-pad-desktop);
    }
    &.promo-padding {
      @include pad-hero('padding-left', $promo-pad-mobile, $promo-pad-tablet , $promo-pad-desktop);
    }

    @include tm('typography') {
      float: left;
      text-align: left;


    }
  }

  &.center {
    float: left;
    position: absolute;
    margin: auto;
    width: 100%;
    @include tm('copy') {
      width: 100%;
    }
    @include tm('typography') {
      float: left;
      text-align: center;
      @include tm("eyebrow") {
        margin: auto;
      }
    }
  }

  &.right {
    float: right;
    position: absolute;
    &.hero-padding {
      @include pad-hero('right', $hero-pad-mobile, $hero-pad-tablet, $hero-pad-desktop);
    }
    &.announcement-padding {
      @include pad-hero('right', $announcement-pad-mobile, $announcement-pad-tablet , $announcement-pad-desktop);
    }
    &.feature-padding {
      @include pad-hero('right', $feature-pad-mobile, $feature-pad-tablet , $feature-pad-desktop);
    }
    &.promo-padding {
      @include pad-hero('right', $promo-pad-mobile, $promo-pad-tablet , $promo-pad-desktop);
    }

    @include tm('typography') {
      float: right;
      text-align: right;
      @include tm('copy') {
        width: 80%;
        &.hero-classic {
          @include text-container-widths($classic-textbox-width-mobile, $classic-textbox-width-tablet, $classic-textbox-width-desktop)
        }

        &.hero-header-only {
          @include text-container-widths($header-textbox-width-mobile, $header-textbox-width-tablet, $header-textbox-width-desktop)
        }

        float: right;

        @include tm("eyebrow") {
          text-align: right;
        }
      }
    }
  }

  &.bottom {
    &.hero-padding {
      @include pad-hero('bottom', $hero-pad-mobile, $hero-pad-tablet, $hero-pad-desktop);
    }
    &.announcement-padding {
      @include pad-hero('bottom', $announcement-pad-mobile, $announcement-pad-tablet , $announcement-pad-desktop);
    }
    &.feature-padding {
      @include pad-hero('bottom', $feature-pad-mobile, $feature-pad-tablet , $feature-pad-desktop);
    }
    &.promo-padding {
      @include pad-hero('bottom', $promo-pad-mobile, $promo-pad-tablet , $promo-pad-desktop);
    }

  }

  &.middle {
    position: relative;
    top: 50%;
    width: 100%;
    @include tm('typography') {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &.top {
    &.hero-padding {
      @include pad-hero('top', $hero-pad-mobile, $hero-pad-tablet, $hero-pad-desktop);
    }
    &.announcement-padding {
      @include pad-hero('top', $announcement-pad-mobile, $announcement-pad-tablet , $announcement-pad-desktop);
    }
    &.feature-padding {
      @include pad-hero('top', $feature-pad-mobile, $feature-pad-tablet , $feature-pad-desktop);
    }
    &.promo-padding {
      @include pad-hero('top', $promo-pad-mobile, $promo-pad-tablet , $promo-pad-desktop);
    }
  }

}


@include tm('carousel') {

  // .carousel-fade {
  //     .carousel-inner {
  //         .item {
  //             transition-property: opacity;
  //         }
  //
  //         .item,
  //         .active.left,
  //         .active.right {
  //             opacity: 0;
  //         }
  //
  //         .active,
  //         .next.left,
  //         .prev.right {
  //             opacity: 1;
  //         }
  //
  //         .next,
  //         .prev,
  //         .active.left,
  //         .active.right {
  //             left: 0;
  //             transform: translate3d(0, 0, 0);
  //         }
  //     }
  //
  //     .carousel-control {
  //         z-index: 2;
  //     }
  // }
  //
  // .carousel,
  // .carousel-inner,
  // .carousel-inner .item {
  //     height: 100%;
  // }
  //
  // .item:nth-child(1) {
  //     background: #74C390;
  // }
  //
  // .item:nth-child(2) {
  //     background: #51BCE8;
  // }
  //
  // .item:nth-child(3) {
  //     background: #E46653;
  // }
  //

}

@include tm('video') {
  width: 100%;
  float: left;
  padding: 1rem;
  @include tm('video-box') {
    margin: 0 0 10px 0;
    @include tablet-up() {
      margin: 0 0 15px 0;
    }
    @include desktop-up() {
      margin: 0 0 20px 0;
    }
  }
  @include tm('video-cta') {
    font-family: 'JFCalibre', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-align: center;
    a {
      font-size: 18px;
      line-height: 1.11;
      @include tablet-up() {
        font-size: 20px;
        line-height: 1;
      }
      @include desktop-up() {
        // font-size: 20px;
        // line-height: 1;
      }
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $black;
        text-decoration: underline;
      }

    }
  }
}

@include tm('hero-container') {
  @include tm('cta') {
    margin-bottom: 20px;
    &-button {
      padding: 18px 45px 13px 45px;
    }
  }
}
