@import 'colours';

// Typographic Elements

// TM is short for Tumeric
// Spits out namespaced styles
@mixin tm($class-name) {
  .#{$namespace}__#{$class-name} {
      @content;
  }
}

// Handling Fill vs Stroke
@mixin cta($style) {
  &.#{$style} {
    @include tm('cta') {
      &-button {
        @if $style == 'fill' {
          @content;
        } @else if $style == 'stroke' {
          @content;
        }
      }
    }
  }
}

@mixin aspect-ratio($name, $width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .#{$name}-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Handling Evergreen Colours
@mixin cta-evergreen($colour) {

  @if $colour == "black" {
    @include cta('fill') {
      background-color: $black;
      color: $white;
    }
    @include cta('stroke') {
      border-color: $black;
      color: $black;
    }
  }
  @else if $colour == "white" {
    @include cta('fill') {
      background-color: $white;
      color: $black;
    }
    @include cta('stroke') {
      border-color: $white;
      color: $white;
    }
  }
  @else if $colour == "orange" {
    @include cta('fill') {
      background-color: $orange;
      color: $white;
    }
    @include cta('stroke') {
      border-color: $orange;
      color: $orange;
    }
  }
  @else {
    @include cta('fill') {
      background-color: $white;
      color: $orange;
    }
    @include cta('stroke') {
      border-color: $white;
      color: $white;
    }
  }

}

// Handling Seasonal Colours
@mixin cta-seasonal($colour) {

  @if $colour == "navy" {
    @include cta('fill') {
      background-color: $navy;
      color: $white;
    }
    @include cta('stroke') {
      border-color: $navy;
      color: $navy;
    }
  }
  @else if $colour == "maroon" {
    @include cta('fill') {
      background-color: $maroon;
      color: $white;
    }
    @include cta('stroke') {
      border-color: $maroon;
      color: $maroon;
    }
  }
  @else if $colour == "camel" {
    @include cta('fill') {
      background-color: $camel;
      color: $navy;
    }
    @include cta('stroke') {
      border-color: $camel;
      color: $camel;
    }
  }
  @else {
    @include cta('fill') {
      background-color: $white;
      color: $navy;
    }
    @include cta('stroke') {
      border-color: $white;
      color: $white;
    }
  }

}

@include tm('typography') {
  font-family: 'JFCalibre', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  width: 100%;


  p, h1 {
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }

  @include tm('copy') {
    float: left;
    width: 100%;
    margin: 0 0 2rem 0;
    h1, p {
      margin: 0;
    }
  }

  @include tm('hero-preset-c') {

    &.fr {

      @include tm('subheader') {
        font-size: 1.25rem;
        margin:0;
      }

      @include tm('header') {
        font-size: 2.5rem;
        margin:0;
      }

      @include tm('subcopy') {
        margin:0;
      }

      @include tablet-up() {
        @include tm('subheader') {
          font-size: 2rem;
        }

        @include tm('header') {
          font-size: 4rem;
        }

        @include tm('subcopy') {

        }
      }
      @include desktop-up() {
        @include tm('subheader') {
          font-size: 2rem;
        }

        @include tm('header') {
          font-size: 4rem;
        }

        @include tm('subcopy') {

        }
      }
    }
    @include tm('subheader') {
      font-size: 1.5rem;
      margin:0;
    }

    @include tm('header') {
      font-size: 3rem;
      margin:0;
    }

    @include tm('subcopy') {
      margin:0;
    }

    @include tablet-up() {
      @include tm('subheader') {
        font-size: 2rem;
      }

      @include tm('header') {
        font-size: 4rem;
      }

      @include tm('subcopy') {

      }
    }
    @include desktop-up() {
      @include tm('subheader') {
        font-size: 3rem;
      }

      @include tm('header') {
        font-size: 6rem;
      }

      @include tm('subcopy') {

      }
    }

    @include tm('text-block') {

      float:left;
      width: 100%;
      margin: 1rem 0;


      @include tablet-up() {
        @include mock-flexbox($number-of-columns: 3, $class-name: 'tumeric__text-block');
      }

    }

  }

  @include mobile-only() {
    @include tm('subcopy') {
      padding: 0rem 3rem 0 0;
    }
  };




  @include tm('eyebrow') {
    display: inline-block;
    background-color: $black;
    height: 0.5em;
    width: 2em;
  }

  @include tm('eyebrow-text') {
    font-size: 2rem;
    font-weight: 500;
  }

  @include tm('subheader') {
    margin-top:0;
  }
  @include tm('header') {
    margin-bottom:0;
  }

  &.colour {
    // Evergreen Colour Themes
    &-black {
      color: $black;
      @include cta-evergreen("black");
      @include tm("eyebrow") {
        background: $black;
      }
    }

    &-orange {
      color: $orange;
      @include cta-evergreen("orange");
      @include tm("eyebrow") {
        background: $orange;
      }

      &-black {
        @include cta-evergreen("black");
        @include tm('header') {
          color: $orange;
          @include tm("eyebrow") {
            background: $black;
          }
        }
        @include tm('subcopy') {
          color: $black;
        }
      }

      &-white {
        @include cta-evergreen("none");
        @include tm('header') {
          color: $orange;
          @include tm("eyebrow") {
            background: $white;
          }
        }
        @include tm('subcopy') {
          color: $white;
        }
      }
    }

    &-white {
      color: $white;
      @include cta-evergreen("white");
      @include tm("eyebrow") {
        background: $white;
      }

      &-orange {
        color: $white;
        @include cta-evergreen("orange");
        @include tm("eyebrow") {
          background: $white;
        }
      }
    }

    &-navy {
      color: $white;
      @include cta-seasonal("navy");
      @include tm("eyebrow") {
        background: $white;
      }
    }

    &-maroon {

    }

    &-camel {

    }


    // Stroke or Fill?
    &-fill {

    }

    &-stroke {

    }

  }


  &.classic {
    @include tm('header') {
      font-weight: 700;
    }
    @include tm('subheader') {
      font-weight: 700;
    }
  }

  &.semibold {
    @include tm('header') {
      font-weight: 600;
    }
    @include tm('subheader') {
      font-weight: 600;
    }
  }

  &.light {
    @include tm('header') {
      font-weight: 300;
    }
    @include tm('subheader') {
      font-weight: 300;
    }
  }

  &.thin {
    @include tm('header') {
      font-weight: 200;
    }
    @include tm('subheader') {
      font-weight: 200;
    }
  }

  &.classic,
  &.semibold,
  &.light,
  &.thin {
    @include tm('header') {
      &:first-letter {
        text-transform: capitalize;
      }
    }

    &.uppercase {
      @include tm('header') {
        text-transform: uppercase;
      }
    }
    &.titlecase {
      @include tm('header') {
        text-transform: capitalize;
      }
    }
    &.lowercase {
      @include tm('header') {
        text-transform: lowercase;
        &:first-letter {
          text-transform: lowercase;
        }
      }
    }

  }

  &.classic,
  &.semibold {
    @include tm('subcopy') {
      font-weight: 400;
    }
  }

  &.light,
  &.thin {
    @include tm('subcopy') {
      font-weight: 300;
    }
  }



  &__header {


  }

  &__subcopy {

  }

  @include tm('cta') {
    width: 100%;
    float:left;
    &-button {
      padding: 12.5px 25px 7.5px 25px;
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
    &-app-store-button {
      width: 11rem;
    }
  }

  &.stroke {
    @include tm('cta-button') {
      border-style: solid;
      border-width: 1px;
    }
  }

}


@include tm('hero') {
  float: left;
  width: 100%;

  &-container {
    background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include aspect-ratio('hero',320,420);
    // width: 320px;
    // height: 420px;

    // @include tall-mobile-only() {
    //   width: 320px;
    //   height: 420px;
    // }

    @include tablet-up() {
      @include aspect-ratio('hero',768,420);
      // width: 768px;
      // height: 420px;
    }

    @include desktop-up() {
      @include aspect-ratio('hero',1280,465);
      // width: 1280px;
      // height: 465px;
    }

  }

}

@include tm('promotion') {
  float: left;
  width: 100%;

  &-container {
    float: left;
    width: 100%;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tm('promotion-box') {
        @include aspect-ratio('promotion',320,250);
      }
      @include tablet-up() {
        &:nth-child(1) {
          width: 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',735,200);
          }

        }
        &:nth-child(2),
        &:nth-child(3) {
          width: (1/2) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',360,255);
          }
        }
      }

      @include desktop-up() {
        &:nth-child(1) {
          // padding: 1rem 0.5rem 1rem 1rem;
          width: (1/3) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
        &:nth-child(2) {

          width: (1/3) * 100%;

          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
        &:nth-child(3) {
          // padding: 1rem 1rem 1rem 0.5rem;
          width: (1/3) * 100%;
          @include tm('promotion-box') {
            @include aspect-ratio('promotion',340,290);
          }
        }
      }


      padding:1rem;
    }


    @include tm('promotion-box') {
      background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


  }

}

@include tm('announcement') {
  float: left;
  width: 100%;

  &-header {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
    color: #6b6b6a;
  }

  &-container {
    float: left;
    width: 100%;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tablet-up() {
        width: 50%;
      }
      padding: 1rem;
    }


    @include tm('announcement-box') {
      background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      @include aspect-ratio('announcement',320,250);

      @include tablet-up() {

        // width: 768px;
        // height: 420px;
        float: left;

        &:nth-child(1) {
          @include aspect-ratio('announcement',360,215);
        }
        &:nth-child(2) {
          @include aspect-ratio('announcement',360,215);
        }
      }

      @include desktop-up() {
        float: left;
        &:nth-child(1) {
          @include aspect-ratio('announcement',510,240);
        }
        &:nth-child(2) {
          @include aspect-ratio('announcement',510,240);
        }
        // width: 1280px;
        // height: 465px;
      }
    }


  }

}

@include tm('announcement-b') {
  float: left;
  width: 100%;

  &-container {
    padding: 2rem 0;
    float: left;
    width: 100%;
    background-color: #f9f9fa;

    @include tm('padding-box') {
      float: left;
      width: 100%;
      @include tablet-up() {
        width: 50%;
      }
      padding: 1rem;
    }

    @include tm('announcement-img') {
      // float: left;
      overflow: hidden;
      // width: 45%;
      // margin-top: -20rem;
      .image-content {
        display: block;
        height: 165px;
        width: auto;
        margin: 5rem 0 5rem -17rem;
        @include tablet-up() {
          height: 180px;
          margin: 5rem 0;
        }
        @include desktop-up() {
          height: 220px;
          margin: 5rem 0 5rem 2rem;
        }
      }

    }


    @include tm('announcement-b-box') {
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;

      @include tm('alignment') {
        &.left {
          padding: 0;

          @include tm('typography') {
            width: 90%;
          }
        }
      }

      // @include aspect-ratio('announcement-b',320,250);

      @include tablet-up() {

        // width: 768px;
        // height: 420px;
        // float: left;

        // @include aspect-ratio('announcement-b',360,215);

      }

      @include desktop-up() {
          // @include aspect-ratio('announcement-b',510,240);
      }

      @include tm('announcement-b-aside') {

        // float:left;

      }

    }


  }

}

@include tm('feature') {
  float: left;
  width: 100%;

  &-container {
    background-image: url('https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-06-15/Fall-Homepage-Mocks-Hero-b3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include aspect-ratio('feature',320,580);
    // width: 320px;
    // height: 420px;

    // @include tall-mobile-only() {
    //   width: 320px;
    //   height: 420px;
    // }

    @include tablet-up() {
      @include aspect-ratio('feature',735,795);
      // width: 768px;
      // height: 420px;
    }

    @include desktop-up() {
      @include aspect-ratio('feature',1050,670);
      // width: 1280px;
      // height: 465px;
    }

  }

}

@include tm('offer-details') {
  float: right;
  position: relative;
  right: 1em;
  bottom: 2em;

  &.colour,
  .colour {
    // Evergreen Colour Themes
    &-black {
      text-decoration: underline;
      color: $black;

    }

    &-orange {
      text-decoration: underline;
      color: $orange;
      &-black {
        text-decoration: underline;
        color: $black;
      }
    }

    &-white {
      text-decoration: underline;
      color: $white;
    }
  }

}


@include tm('alignment') {
  width:100%;

  @include tm('typography') {
    width: 100%;
    float: left;

  }

  &.left {
    float: left;
    position: absolute;
    padding-left: 2em;
    @include tm('typography') {
      float: left;
      text-align: left;


    }
  }

  &.center {
    float: left;
    position: absolute;
    margin: auto;
    width: 100%;
    @include tm('typography') {
      float: left;
      text-align: center;
      @include tm("eyebrow") {
        margin: auto;
      }
    }
  }

  &.right {
    float: right;
    position: absolute;
    right: 2em;
    @include tm('typography') {
      float: right;
      text-align: right;
      @include tm('copy') {
        width:80%;
        float: right;

        @include tm("eyebrow") {
          text-align: right;
        }
      }
    }
  }

  &.bottom {
    bottom: 2em;
  }

  &.middle {
    position: relative;
    top: 50%;
    width: 100%;
    @include tm('typography') {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &.top {
    top: 2em;
  }

}
