$hero-pad-mobile: 20px;
$hero-pad-tablet: 50px;
$hero-pad-desktop: 60px;

$announcement-pad-mobile: 30px;
$announcement-pad-tablet: 30px;
$announcement-pad-desktop: 30px;

$feature-pad-mobile: 25px;
$feature-pad-tablet: 140px / 2;
$feature-pad-desktop: 60px;

$promo-pad-mobile: 25px;
$promo-pad-tablet: 70px / 2;
$promo-pad-desktop: 60px / 2;

$nav-flyout-padding: 25px;

$classic-textbox-width-mobile: 270px;
$classic-textbox-width-tablet: 420px;
$classic-textbox-width-desktop: 580px;

$classic-text-padding-mobile: 30px ;
$classic-text-padding-tablet: 30px;
$classic-text-padding-desktop: 30px ;


$header-textbox-width-mobile: 270px;
$header-textbox-width-tablet: 1256px / 2;
$header-textbox-width-desktop: 1130px;
