$hero-pad-mobile: 25px;
$hero-pad-tablet: 140px / 2;
$hero-pad-desktop: 60px;

$announcement-pad-mobile: 25px / 2;
$announcement-pad-tablet: 70px / 4;
$announcement-pad-desktop: 25px / 2;

$feature-pad-mobile: 25px;
$feature-pad-tablet: 140px / 2;
$feature-pad-desktop: 60px;

$promo-pad-mobile: 25px;
$promo-pad-tablet: 70px / 2;
$promo-pad-desktop: 60px / 2;

$classic-textbox-width-mobile: 270px;
$classic-textbox-width-tablet: 628px / 2;
$classic-textbox-width-desktop: 580px;

$classic-text-padding-mobile: 25px / 2 ;
$classic-text-padding-tablet: (60px / 2) / 2;
$classic-text-padding-desktop: 35px / 2 ;


$header-textbox-width-mobile: 270px;
$header-textbox-width-tablet: 1256px / 2;
$header-textbox-width-desktop: 1130px;
