<div class="tumeric hero-container hero-preset-b" data-component-id="{{ component_id }}">
    <div class="promo-body">
        <h2 class="promo-title">{{ title }}</h2>
        <p class="promo-subtitle">{{ subtitle | safe }}</p>
        <div class="promo-text">
          <p>{{ line_1 | safe }}</p>
          <p>{{ line_2 | safe }}</p>
        	{% if line_3 %}
          	<p>{{ line_3 | safe }}</p>
       	  {% endif %}
        </div>
        <a class="cta-button" href="#"><span>{{ call_to_action }}</span></a>
    </div>

    	<a class="promo-footer-legal" href="#">{{ bottom }}</a>

</div>

<!-- <div class="hero-container hero-container--B" data-component-id="{{ component_id }}">
    <div class="col-xs-12 col-sm-4 hero-body">
        <h2 class="hero-body__title">{{ title }}</h2>
        <p class="hero-body__subtitle">{{ subtitle }}</p>
        <p class="hero-body__text hero-body__text--line1">{{ line_1 }}</p>
        <p class="hero-body__text hero-body__text--line2">{{ line_2 }}</p>
      	{% if line_3 %}
        	<p class="hero-body__text hero-body__text--line3">{{ line_3 }}</p>
     	  {% endif %}
        <a class="hero-body__cta-button" href="#"><span>{{ call_to_action }}</span></a>
    </div>
    <div class="hero-footer">
    	<a class="hero-footer__legal" href="#">{{ bottom }}</a>
    </div>
</div> -->

<!-- Styles -->

<!-- <link rel="stylesheet" href="https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-05-18/main_dq2RJLU.css"> -->
<style>
  .hero-preset-b[data-component-id="{{ component_id }}"] {
   		background-image: url('{{ background_url }}');
	}
</style>
