{% include 'hero-preset-b.html' with hero.b %}
{% include 'hero-preset-a.html' with hero.a %}

{% include 'nav-flyout.html' with navFlyout %}

{% include 'hero-preset-c-fr.html' with hero.c_fr %}
{% include 'hero-preset-c.html' with hero.c_en %}
{% include 'announcement-fullwidth.html' with announcement.fw %}
{% include 'announcement-b.html' %}






{% include 'announcement-fullwidth.html' %}

{% include 'hero-preset-e.html' with hero.e %}

{% include 'hero-preset-d.html' with hero.d %}



{% include 'announcement-container.html' with announcement.a %}
{% include 'promo-preset-c.html' with promo.c %}
{% include 'feature-container.html' with featured_collection %}

{% include 'hero-preset-d.html' with hero.d %}
{% include 'feature-video.html' with featured_video %}




{% include 'black-bar-carousel.html' with blackBar %}








{% include 'hero-preset-a.html' with hero.a %}

{% include 'hero-preset-b.html' with hero.b %}
