<div class="tumeric__promotion">
  <div class="tumeric__promotion-container">
    <div class="tumeric__promotion-box">
      <div class="promotion-content">
        {% include 'alignment.html' %}
      </div>
    </div>
    <div class="tumeric__promotion-box">
      <div class="promotion-content">
        {% include 'alignment.html' %}
      </div>
    </div>
    <div class="tumeric__promotion-box">
      <div class="promotion-content">
        {% include 'alignment.html' %}
      </div>
    </div>
  </div>
</div>
