<div class="tumeric__promotion colour-black">
  <div class="tumeric__promotion-container">
    <div class="tumeric__padding-box">
      <div class="tumeric__promotion-box">
        <div class="promotion-content">
          {% include 'alignment.html' %}
        </div>
      </div>
      {% include 'offer-details.html' %}
    </div>
    <div class="tumeric__padding-box">
      <div class="tumeric__promotion-box">
        <div class="promotion-content">
          {% include 'alignment.html' %}
        </div>
      </div>
      {% include 'offer-details.html' %}
    </div>

    <div class="tumeric__padding-box">
      <div class="tumeric__promotion-box">
        <div class="promotion-content">
          {% include 'alignment.html' %}
        </div>
      </div>
      {% include 'offer-details.html' %}
    </div>

  </div>
</div>
