<div class="container">
  <div class="tumeric homepage-promo-container promo-preset-c" data-component-id="{{ component_id }}">

    {% if title_1 or text_colour_1 or call_to_action_1 or bottom_1 %}
      <div class="promo-box-tile promotion">
        <div class="promo-box {{ text_colour_1 }} ">
          <div class="promo-body">
            <h2 class="promo-title">{{ title_1 | safe }}</h2>
            <a class="cta-button" href="#">
              {{ call_to_action_1}}
            </a>
          </div>
          <a class="promo-footer-legal" href="#">{{ bottom_1 }}</a>
        </div>
      </div>
    {% endif %}

    {% if title_2 or text_colour_2 or call_to_action_2 or bottom_2 %}
      <div class="promo-box-tile promotion">
        <div class="promo-box {{ text_colour_2 }} ">
          <div class="promo-body">
            <h2 class="promo-title">{{ title_2 | safe }}</h2>
            <a class="cta-button" href="#">
              {{ call_to_action_2}}
            </a>
          </div>
          <a class="promo-footer-legal" href="#">{{ bottom_2 }}</a>
        </div>
      </div>
    {% endif %}

    {% if title_3 or text_colour_3 or call_to_action_3 or bottom_3 %}
      <div class="promo-box-tile promotion">
        <div class="promo-box {{ text_colour_3 }} ">
          <div class="promo-body">
            <h2 class="promo-title">{{ title_3 | safe }}</h2>
            <a class="cta-button" href="#">
              {{ call_to_action_3}}
            </a>
          </div>
          <a class="promo-footer-legal" href="#">{{ bottom_3 }}</a>
        </div>
      </div>
    {% endif %}

  </div>
</div>

<!-- Styles -->

<style>

  .promo-preset-c[data-component-id='{{ component_id }}'] .promo-box-tile:nth-child(1) .promo-box {
      background-image: url('{{ background_url_1 }}');
  }
  .promo-preset-c[data-component-id='{{ component_id }}'] .promo-box-tile:nth-child(2) .promo-box {
      background-image: url('{{ background_url_2 }}');
  }
  .promo-preset-c[data-component-id='{{ component_id }}'] .promo-box-tile:nth-child(3) .promo-box {
      background-image: url('{{ background_url_3 }}');
  }

</style>
