
.black-bar-container {
  @include clearfix();
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  background: $color-black-bar;
  color: white;
  font-weight: 300;
  float: left;
  margin: auto;
  // max-width: 1280px;
  width: 100%;
  padding: 1rem 0 0.1rem 0;

  .black-bar-content {
    text-align: center;
    padding: 0.1rem 0 1.1rem 0;
    p {
      margin: 0;
      strong {
        font-weight: 700;
        text-transform: uppercase;
      }
    }


    a {
      color: white;
      font-weight: 100;
      padding-bottom: 0.1rem;
      border-bottom-width: 1px;
      border-bottom-color: white;
      border-bottom-style: solid;

      &:focus, &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
