
// Tumeric-Wide Styles
.tumeric {
  font-family: 'JFCalibre', "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  .cta-button {
    display: inline-block;
    padding: 0 1em;
    height: 3.3em;
    margin-top: 10px;
    font-size: 12px;
    line-height: 45px;
    background-color:black;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

    @include desktop-up() {
      height: 50px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 50px;
    }
  }

  .promo-footer-legal {
    position: relative;
    float: right;
    bottom: 0.5em;
    right: 0.5em;
    display: block;
    font-size: 10px;
    color: black;
    text-decoration: underline;
  }

  @include desktop-up() {
    .show-tablet-up {
      display:inherit;
    }
    .hide-desktop-up {
      display:none;
    }
  }

  .promo-title, .promo-subtitle {
    font-weight: 700;
  }

  &.hero-container,
  &.homepage-promo-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto;
  }



}


// Component Styles
@import "hero";
@import "black-box";
@import "homepage-promos";
@import "featured-collection";
