// Site-wide Variables
$color-jf-orange: #ef4924;
$color-jf-grey: #6b6b6a;

// Component Related Variables

// Hero Preset A
$color-primary-hero-a: #ca4e5b;

// Hero Preset B
$color-text-hero-b: #495a7b;
$color-cta-hero-b: #b68eba;

// Hero Preset C

// Black Bar
$color-black-bar: #595959;
