// Core Modules

@font-face {
    font-family: Didot;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/DidotLTPro-Roman.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/DidotLTPro-Roman.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/DidotLTPro-Roman.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/DidotLTPro-Roman.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/DidotLTPro-Roman.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: icomoon;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/icomoon.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/icomoon.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/icomoon.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/icomoon.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: JFCalibre;
    font-weight: 800;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Black.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Black.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Black.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Black.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Black.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 800;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BlackItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BlackItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BlackItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BlackItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BlackItalic.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 700;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Bold.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Bold.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Bold.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Bold.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Bold.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 700;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BoldItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BoldItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BoldItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BoldItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-BoldItalic.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 600;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Semibold.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Semibold.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Semibold.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Semibold.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Semibold.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 600;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-SemiboldItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-SemiboldItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-SemiboldItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-SemiboldItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-SemiboldItalic.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 500;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Medium.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Medium.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Medium.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Medium.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Medium.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 500;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-MediumItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-MediumItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-MediumItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-MediumItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-MediumItalic.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 400;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Regular.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Regular.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Regular.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Regular.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Regular.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 400;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-RegularItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-RegularItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-RegularItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-RegularItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-RegularItalic.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 300;
    font-style: normal;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Light.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Light.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Light.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Light.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-Light.svg) format('svg')
}
@font-face {
    font-family: JFCalibre;
    font-weight: 300;
    font-style: italic;
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-LightItalic.eot);
    src: url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-LightItalic.eot?#iefix) format('embedded-opentype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-LightItalic.woff) format('woff'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-LightItalic.ttf) format('truetype'), url(https://s3.amazonaws.com/joefresh-resource-prod-new/fonts/JFCalibre-LightItalic.svg) format('svg')
}


// Custom Styles
@import 'custom';
