<!DOCTYPE html>

<html>
  <head>
    <title>Tumeric Component List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href="css/site.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://zeid-test.s3.amazonaws.com/cumin/static/uploads/2017-05-18/main_dq2RJLU.css"> -->

  </head>

  <body>


  <div class="">
    <div>
      <h2>Typographic Themes</h2>
      <hr/>
    </div>
    <div class="">
      {% include '__examples/new-examples.html' %}

    </div>
  </div>


  <div>
    <div>
      <h2>Hero Preset A</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'hero/presetA.html' with hero.preset_a %}
      {% include 'blackBar/blackBar.html' with blackBar %}
    </div>

    <div>
      <h2>Hero Preset B</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'hero/presetB.html' with hero.preset_b %}
      {% include 'blackBar/blackBar.html' with blackBar %}
    </div>

    <div>
      <h2>Hero Preset C</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'hero/presetC.html' with hero.preset_c %}
      {% include 'blackBar/blackBar.html' with blackBar %}
    </div>

    <div>
      <h2>Promo Preset C</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'promoTiles/presetC.html' with promo_tiles.preset_c %}
    </div>

    <div>
      <h2>Announcement Preset A</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'announcementTiles/presetA.html' with announcement.preset_a %}
    </div>
    <div>
      <h2>Feature Collection Preset A</h2>
      <hr/>
    </div>
    <div class="">
      {% include 'featureCollection/presetA.html' with featureCollection.preset_a %}
    </div>
  </div>


    <script src="js/foundation-scripts.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
